USE [master]
GO
Create database [Y25SU1B1]
GO
USE [Y25SU1B1]
GO

CREATE TABLE [dbo].[Users](
	[Account] [varchar](20) PRIMARY KEY,
	[Password] [varchar](20) NOT NULL
)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
insert into [Users] values('user1','123')
insert into [Users] values('user2','123')
insert into [Users] values('user3','123')
GO

CREATE TABLE [dbo].[Posts](
	[PostID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Content] [nvarchar](max) NOT NULL,
	[PostDate] [date] NOT NULL,
	[Account] [varchar](20) references [Users]([Account])
)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 
GO
insert into [Posts]([PostID],[Content],[PostDate],[Account]) values(1,'Answer quiz for PT1',CAST(N'2024-10-12' AS Date),'user1')
insert into [Posts]([PostID],[Content],[PostDate],[Account]) values(2,'Answer quiz for PT2',CAST(N'2024-05-22' AS Date),'user2')
insert into [Posts]([PostID],[Content],[PostDate],[Account]) values(3,'Zip file and submit WS1',CAST(N'2025-06-15' AS Date),'user3')
GO
SET IDENTITY_INSERT [dbo].[Posts] OFF 
GO

CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Content] [varchar](max) NOT NULL,
	[CommentDate] [date] NOT NULL,
	[Account] [varchar](20) references [Users]([Account])
)
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 
GO
insert into [Comments]([CommentID],[Content],[CommentDate],[Account]) values(1,'PT1 is easy',CAST(N'2024-02-16' AS Date),'user1')
insert into [Comments]([CommentID],[Content],[CommentDate],[Account]) values(2,'PT2 is very difficult',CAST(N'2024-11-13' AS Date),'user2')
insert into [Comments]([CommentID],[Content],[CommentDate],[Account]) values(3,'WS1 is very long',CAST(N'2024-12-18' AS Date),'user3')
GO
SET IDENTITY_INSERT [dbo].[Comments] OFF 
GO